<nav id="menu">
  <p>
    <a [routerLink]="['/']">Accueil</a>  
    <a href="">Offres</a> 
    <a href="">Services</a> 
    <a [routerLink]="['/createCompte']">Création compte</a> 
    <a href="">Contact</a>
    <a [routerLink]="['/admin']">admin</a>
    <a [routerLink]="['/conseiller']">conseiller</a> 
    <a [routerLink]="['/client']">client</a>
  </p>
</nav>
<select class="lang" name="lang" id="lang">
    <option value="francais">Français</option>
    <option value="anglais">Anglais</option>
</select>
<hr class="clear">

<router-outlet></router-outlet>

<hr class="clear">
