<h3>Gestion des notifications</h3>
<p class="numCompte">Numéro de compte : 123 25896 157</p>
<p class="solde">Solde : <span>800 €</span></p>

<table>
  <thead>
      <tr>
        <th>Date/Heure</th>
        <th>Libellé</th>
        <th>Débit</th>
        <th>Crédit</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td>01/01/2019</td>
        <td>Virement</td>
        <td></td>
        <td>100 </td>
      </tr>
  </tbody>
</table>